/dist/

**/.DS_Store
.vscode
.idea/
.env
out.dat

cmd/__debug_bin

.venv

*metrics.txt


keeperd
orderd
watcherd
liquidity
eventfeed
lpservice

.VSCodeCounter/
.env
config.toml
config.*.toml
sor/
log.txt
lpservice.log
logs/
